.whiteback{
    background-color: rgba(255,255,255,0.8);
    table-layout: fixed;
    font-family: cursive;
}

.whiteheader{
    color: white;
    table-layout: fixed;
    font-family: cursive;
}

body {
    margin-left: 2px;
    margin-left: 4px;
    margin-bottom: 30px;
    width: 100%;
    background: url(/resource/image/fon1.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header{
    margin-top: -9px;
    margin-left: -3px;
    background-color: black;
    color: white;
    font-family: cursive;
}

footer {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    position: fixed;
    background-color: black;
    color: white;
    font-family: cursive;
}

.parent
{
    display: inline-block;
}

input:invalid {
    border: 3px solid red;
}
input:valid {
    border: 3px solid green;
}
input{
    border: 3px solid black;
}